<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 mb-lg-0">
        <h3>Articles from <%= authorName %> author:</h3>
        <% if (articles.length === 0) { %>
        <h4>There is no articles :(</h4>
        <% } else { %> <% articles.forEach(article => { %>

        <article class="row mb-5">
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="post-slider slider-sm">
              <img
                loading="lazy"
                src="images/post/post-6.jpg"
                class="img-fluid"
                alt="post-thumb"
                style="height: 200px; object-fit: cover"
              />
              <img
                loading="lazy"
                src="images/post/post-1.jpg"
                class="img-fluid"
                alt="post-thumb"
                style="height: 200px; object-fit: cover"
              />
              <img
                loading="lazy"
                src="images/post/post-3.jpg"
                class="img-fluid"
                alt="post-thumb"
                style="height: 200px; object-fit: cover"
              />
            </div>
          </div>
          <div class="col-md-8">
            <h3 class="h5">
              <a class="post-title" href="/article/<%= article.id %>"
                ><%= article.title %></a
              >
            </h3>
            <ul class="list-inline post-meta mb-2">
              <li class="list-inline-item">
                <i class="ti-user mr-2"></i
                ><a href="/?author=<%= article.author.name.replace(" " ,"+") %>"><%= article.author.name %></a>
              </li>
              <li class="list-inline-item">
                Date : <%= new
                Date(article.createdAt).toLocaleDateString('en-GB') %>
              </li>
              <li class="list-inline-item">
                Category :
                <a href="/?category=<%= article.category.name.replace(" " ,"+") %>" class="ml-1"><%= article.category.name %></a>
              </li>
              <li class="list-inline-item">
                Tags : <% article.tags.forEach(tag => { %>
                <a href="/?tag=<%= tag.name.replace(" " ,"+") %>" class="ml-1"><%= tag.name %></a>
                <% }) %>
              </li>
            </ul>
            <p>
              <%= article.body.split("</p>")[0].replace(/<[^>]*>?/gm, '') %>
            </p>
            <a href="/article/<%= article.id %>" class="btn btn-outline-primary"
              >Continue Reading</a
            >
          </div>
        </article>
        <% }) %> <% } %>
      </div>
    </div>
  </div>
</section>
